body{
    background-color: grey;
    
}

.login-box{
    
    margin:100px auto;
    width: 160px;
    height: 300px;
    text-align: center;
    background-color: rgb(34, 105, 146);
    border-radius: 10px;
}
